@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');
body{
	/* font-family: 'Nanum Gothic', sans-serif; */
	font-family: 'Nanum Pen Script', cursive;
}

h2 {
	color:blue;
}

p {
	font-size: 12px;
	margin-left: 20px;
}